.wrapper {
  text-align: center;
  font-family: "didot", didot; 
  position: relative;
  left: 360px;
  font-size: 16px;
}

A {
  text-decoration: none;
}

nav li {
  display: inline-block;
  width: 130px;
}

hr {
  position: relative;
  top: 5px;
  border-color: #003399;
  background-color: #003399;
  height: 1px;
}

.hr1 {
  position: relative;
  top: 115px;
  height: 2px;
}

/*.box {
    width: 700px;
    height: 600px;
    border: 1px solid green;
}*/

img {
  position: relative;
  top: 160px;
  right: 176px;
  margin-top: 1px;
  margin-left: 5%;
  float: right;
  width: 22%;
}

#desc {
  position: relative;
  top: 132px;
  left: 156px;
  font-family: "didot", didot;
  font-size: 16px;
  margin-top: 1px;
  padding: 10px;
  width: 48%;
  display: inline-block;
}
