.wrapper {
  text-align: center;
  font-family: "didot", didot; 
  position: relative;
  left: 360px;
  font-size: 16px;
}

A {
  text-decoration: none;
}

nav li {
  display: inline-block;
  width: 130px;
}

hr {
  position: relative;
  top: 5px;
  border-color: #006600;
  background-color: #006600;
  height: 1px;
}

.hr1 {
  position: relative;
  top: 115px;
  height: 2px;
}

img {
  position: relative;
  top: 140px;
  right: 142px;
  margin-top: 1px;
  margin-left: 5%;
  float: right;
  width: 22%;
}

#desc {
  position: relative;
  top: 112px;
  font-family: "didot", didot;
  font-size: 16px;
  margin-top: 1px;
  padding: 10px;
  width: 52%;
  display: inline-block;
  color: #006600;
}
