.wrapper {
  text-align: center;
  font-family: "didot", didot; 
  position: relative;
  left: 360px;
  font-size: 16px;
}

A {
  text-decoration: none;
}

body {
  background: grey;
}

nav li {
  display: inline-block;
  width: 130px;
}

hr {
  position: relative;
  top: 5px;
}

.hr1 {
  position: relative;
  top: 115px;
}

img {
  position: relative;
  top: 136px;
  right: 35px;
  margin-top: 1px;
  margin-left: 5%;
  float: right;
  width: 22%;
}

#desc {
  position: relative;
  top: 112px;
  font-size: 20px;
  margin-top: 1px;
  padding: 10px;
  width: 70%;
  display: inline-block;
  color: #ffffff;
  background-color: grey;
}
