.wrapper {
  text-align: center;
  font-family: "didot", didot; 
  position: relative;
  left: 360px;
  font-size: 16px;
}

A {
  text-decoration: none;
}

body {
  background: #003200;
}

nav li {
  display: inline-block;
  width: 130px;
}

hr {
  position: relative;
  top: 5px;
  height: 1px;
  border-color: white;
  background-color: white;
}

.hr1 {
  position: relative;
  top: 115px;
}

.contactt {
  position: relative;
  top: 200px;
  left: 250px;
  color: white;
  font-size: 12px;
  font-family: "didot", didot; 
}

.contact {
  position: relative;
  top: 204px;
  left: 250px;
  color: white;
  font-size: 24px;
  font-family: "didot", didot; 
}

.social {
  position: relative;
  top: 106px;
  left: 710px;
  color: white;
  font-size: 12px;
  font-family: "didot", didot; 
}

.linkedin {
  z-index: 1;
  position: relative;
  top: 120px;
  left: 840px;
}

.github {
  position: relative;
  left: 670px;
  bottom: 20px;
}

img {
  width: 10%;
}