#wrapper {
  text-align: center;
  font-family: "didot", didot; 
}

body {
  background: black;
}

nav li {
  display: inline-block;
  line-height: 30px;
  width: 85px;
}

nav {
  position: relative;
  right: 40px;
  float: right;
  font-size: 16px;
}

hr {
  position: relative;
  top: 60px;
}

/*#cool_image {
  text-align: center;
  color: #ffffff;
  margin: auto;
}

footer {
  padding-right: 50px;
  font-style: italic;
  color: #ffffff;
  float: right;
}*/