#wrapper {
  height: 100%;
  width: 100%;
  background: black;
  text-align: center;
  font-family: "didot", didot; 
}

body {
  background: black;
}

nav li {
  display: inline-block;
  line-height: 50px;
  width: 250px;
}

nav {
  font-size: 18px;
}

#cool_image {
  text-align: center;
  color: #ffffff;
  margin: auto;
}

footer {
  padding-right: 50px;
  font-style: italic;
  color: #ffffff;
  float: right;
}
