.wrapper {
  text-align: center;
  font-family: "didot", didot; 
  position: relative;
  left: 360px;
  font-size: 16px;
}

A {
  text-decoration: none;
}

body {
  height: 900px;
  width: 1264px;
}

nav li {
  display: inline-block;
  width: 130px;
}

hr {
  position: relative;
  top: 5px;
  border-color: #003200;
  background-color: #003200;
  height: 1px;
}

.hr1 {
  position: relative;
  top: 115px;
}

.justplay {
  z-index: 1;
  font-family: "didot", didot;
  position: relative;
  left: 230px;
  top: 100px;
  font-size: 50px;
  color: #003200;
}

.jpdesc {
  position: relative;
  top: 70px;
  left: 172px;
  font-family: "didot", didot;
  font-size: 16px;
  width: 25%;
  display: inline-block;
  color: #003200;
}

.JP {
  position: relative;
  left: 164px;
  top: 80px;
}

.suzy {
  font-family: "didot", didot;
  position: relative;
  left: 770px;
  bottom: 892px;
  font-size: 50px;
  color: #003200;
}

.suzydesc {
  position: relative;
  bottom: 906px;
  left: 769px;
  font-family: "didot", didot;
  font-size: 16px;
  width: 25%;
  color: #003200;
}

.SJ {
  position: relative;
  left: 675px;
  bottom: 894px;
}

.gawk {
  font-family: "didot", didot;
  position: relative;
  left: 208px;
  bottom: 592px;
  font-size: 50px;
  color: #003200;
}

.gawkdesc {
  position: relative;
  bottom: 604px;
  left: 210px;
  font-family: "didot", didot;
  font-size: 16px;
  width: 25%;
  color: #003200;
}

.gawkl {
  position: relative;
  bottom: 590px;
  left: 100px;
}

.earlywork {
  font-family: "didot", didot;
  position: relative;
  left: 790px;
  bottom: 1100px;
  font-size: 50px;
  color: #003200;
}

.under {
  position: relative;
  left: 42px;
  bottom: 10px;
  font-size: 16px;
}