#wrapper {
  border: solid 1px #ffffff;
  height: 560px;
  width: 950px;
  background: black;
  text-align: center;
  font-family: "didot", didot; 
}

nav li {
  border: solid 3px #ffffff;
  display: inline-block;
  line-height: 50px;
  width: 250px;
}

nav {
  font-size: 8px;
}

a:hover {
  font-size: 50px;
  color: pink;
}

#stuff {
  margin-top: 10%;
  padding: 10px;
  width: 56%;
  display: inline-block;
  border: solid 3px #ffffff;
  font-style: italic;
  color: #ffffff;
  font-size: 30px;
}