.wrapper {
  text-align: center;
  font-family: "didot", didot; 
  position: relative;
  left: 360px;
  font-size: 16px;
}

A {
  text-decoration: none;
}

nav li {
  display: inline-block;
  width: 130px;
}

hr {
  position: relative;
  top: 5px;
  border-color: #006600;
  background-color: #006600;
  height: 1px;
}

.hr1 {
  position: relative;
  top: 115px;
}

.justplay {
  z-index: 1;
  font-family: "didot", didot;
  position: relative;
  left: 230px;
  top: 100px;
  font-size: 50px;
  color: #006600;
}

.JP {
  position: relative;
  left: 164px;
  top: 80px;
}

.suzy {
  font-family: "didot", didot;
  position: relative;
  left: 770px;
  bottom: 646px;
  font-size: 50px;
  color: #006600;
}

.SJ {
  position: relative;
  left: 675px;
  bottom: 663px;
}

.earlywork {
  /*float: left;*/
  font-family: "didot", didot;
  position: relative;
  left: 230px;
  bottom: 400px;
  font-size: 50px;
  color: #006600;
}

.under {
  position: relative;
  left: 42px;
  font-size: 20px;
}