#wrapper {
  height: 800px;
  width: 1100px;
  text-align: center;
  font-family: "didot", didot; 
}

nav li {
  border: solid 1px #73AD21;
  display: inline-block;
  line-height: 50px;
  width: 200px;
}

a:hover {
    font-size: 30px;
}

#images {
    float: left;
    margin: 0px 14px 14px 0px;
}